@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #fff;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.logo{
  width: 180px;
  height: 80px;
}
.list {
  display: flex;
  gap: 50px;
  text-decoration: none;
  list-style: none;
}

.cardbox{
  margin-top: 100px;
  display: flex;
  justify-content: center;
flex-wrap: wrap;padding: 10px;

gap: 50px;}
h5{
  padding: 5px;
}
.user-n{
  font-family: 'Quicksand', sans-serif;
cursor: pointer;
  width: 200px;
  text-align: center;

}
.m-img{
  display: block;
  transform-origin: center;
        transition: 0.5s;
}
.m-img:hover{
 
  transform: scale(1.2);
 
}